ADDR=:8080
BASE_URL=http://localhost:8080
DEBUG=false
DB_DSN=postgres://postgres:postgres@localhost:5432/nutmeg?sslmode=disable

EZAUTH_JWT_SECRET=change-me
EZAUTH_DB_DIALECT=postgres
EZAUTH_DB_DSN=postgres://postgres:postgres@localhost:5432/nutmeg?sslmode=disable
EZAUTH_ADDR=:8080
EZAUTH_BASE_URL=http://localhost:8080
EZAUTH_DEBUG=true
EZAUTH_REDIRECT_AFTER_LOGIN=/groups
EZAUTH_REDIRECT_AFTER_LOGOUT=/login
